@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

div {
  display: inline-block;
  float: left;
  width: calc(100vw/3 - 2vw);
  height: 550px; 
}

body {
  margin: 5px;
  padding: 5px;
}

header {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Sigmar One', cursive;
  text-decoration: underline;
  font-size: 40px;
}

h4 {
  font-size: 20px;
  text-decoration: underline;
}

li {
  font-family: Georgia;
}

#header {
  float: none;
  padding-bottom: 150px;
}

#ingredients {
  background-color: red;
 
}

#ingredients li { 
  font-family: Arial;
  
}

#ingredients li span {
  font-style: italic;
  color: #999;
}

#equipment {
  background-color: white;

}

#equipment li:nth-child(5) {
  color: green;
}

#equipment li:nth-child(6) {
  color: green;
  
}

#directions {
  background-color: green;
  
}

#source {
  padding: 50px;
  clear: both;
 }

.highlight {
  background-color: yellow;
}

#notes {
  border-style: solid;
  width: 100%; 
}

img {
 max-height: 500px;
 max-width: 100%;
 position: absolute;
 left: 25px; 
}

@media (orientation: portrait) {
  div {
    width: 100vw; 
  }
}

@media (max-width: 575px) {
  
  body {
    background-color: lightblue; 
  }
  
  
}
